@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto';
    background-color: rgb(0, 140, 255);
}

header {
    padding: 15px 0px;
    color:white;
    font-weight: bold;
    text-align: center;
    font-size: 25px;
    background-color: rgb(5, 5, 114);
}

.bs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10vh
}

button{
    background-color: rgb(5, 5, 114);
    color: white;
    border: 0px solid black;
    padding: 6px;
    border-radius: 3px;
    margin: 5px;

}

.ses {
    color: white;
    margin: 30px 
}

footer{
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    text-align:center;
    background-color: rgb(5, 5, 114);
    color: white;
    padding: 20px 0px 10px 0px;
}

.tim{
    text-align: center;
    background-color: rgb(0, 0, 78);
    color: white;
    padding: 20px;
    margin: 0 30vw;
    border-radius: 7px;
}

.timer{
    padding-bottom: 20px
}

#time-left {
    font-size: 50px;
}

.controls > span {
    padding: 10px
}